<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nhập thông tin</title>
</head>
<body>
<form method="post" th:object="${user}">
    <h1>Information User Email</h1>
    <table>
        <tr>
            <td>Name: </td>
            <td><input type="text" th:filed="*{name}"></td>
        </tr>
        <tr>
            <td>Age: </td>
            <td><input type="text" th:filed="*{age}"></td>
        </tr>
        <tr>
            <td>Email: </td>
            <td><input type="text" th:filed="*{email}"></td>
        </tr>
    </table>
    <input type="submit" value="Submit order">
</form>
</body>
</html>